.SidebarUI{
    -fx-pref-width:180;
    
    -fx-max-height:9999;

    -fx-background-color: linear-gradient(to bottom, #1e1f29, #252836);
    -fx-padding: 16;
    -fx-spacing: 16;
}

.ButtonContainer {
    -fx-background-color: #2d3142;
    -fx-background-radius: 16;
    -fx-spacing: 4;
    -fx-padding: 4;

    -fx-effect:
        dropshadow(gaussian,
        rgba(0,0,0,0.25),
        15,0,0,4);
}

#profile{
    -fx-image: url("../../../../resource/UserProfile.png");
    -fx-fit-width:64;
}

#Button {
    -fx-max-width:99999;

    -fx-background-color: #5865F2;
    -fx-text-fill: white;

    -fx-font-size: 14;
    -fx-font-weight: bold;

    -fx-background-radius: 8;

    -fx-cursor: hand;
}

#Button:hover {

    -fx-background-color: #7289da;

    -fx-scale-x: 1.03;
    -fx-scale-y: 1.03;
}

#Button:pressed {

    -fx-background-color: #4752C4;

    -fx-scale-x: 0.98;
    -fx-scale-y: 0.98;
}